<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MrCoin iOS SDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MrCoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MrCoinFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MrCoinResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MrCoinTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2610BC011BC2937F00BFF784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2610BC0B1BC2945800BFF784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2622ACD21BC290FD0017259E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267BBE261BC28E2C00FA2399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267BBE311BC28F7C00FA2399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26D9F00B1BD237EE0016658B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E479D21BC1085B0003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E479EB1BC1085B0003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E479FF1BC109220003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E47A081BC109230003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E47A221BC10A430003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E47A2B1BC10A430003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E47A431BC10A640003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E47A501BC10A850003536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26FA7F8C1BC2A2580018B72C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
